$backgroundColor: #002337;
$orange: #EB7D08;

@import "colors";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: $backgroundColor;
}

header {
	height: 40px;
	background-color: #002C45;
	margin-bottom: 40px;
	font-family: "Roboto";
	font-weight: 300;
	border-bottom: 1px solid #405764;
	box-shadow: 0 2px 6px rgba(0,0,0,0.7);
	display: flex;
	align-items: center;

	span {
		color: #6B7A82;
		text-transform: uppercase;
		cursor: pointer;
		padding-left: 2vw;
		line-height: 40px;

		&.selected {
			color: $orange;
		}
	}
}

main {
	h3 {
		font-family: "Roboto";
		color: white;
		font-weight: 300;
		font-size: 16px;
		-webkit-font-rendering: subpixel-antialised;
	}
}

.progress {
	width: 100%;
	margin: 40px 0;
}

h1 {
	color: $orange;
	font-family: "Roboto";
	font-weight: 300;
	text-transform: uppercase;
	margin: 0 auto;
}

.date {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: none;
	font-size: 16px;
}

.tabs {
	display: flex;
	margin: 20px 0 0 0;

	span {
		flex: 1;
		color: #687F8B;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
		font-weight: normal;

		&.selected {
			color: $orange;
		}
	}
}

footer {
	color: #A5A6A6;
}

main {
	margin: 0 2vw;
}

div.columns {
	display: flex;
}

section.map {
	min-height: 400px;
	flex: 1;
	margin-right: 1vw;

	img {
		width: 100%;
	}
}

section.questions {
	background-color: #002C45;
	color: $orange;
	border-top: 1px solid #2E596F;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
	padding: 10px;
	flex: 1;
	margin-left: 1vw;

	h2 {
		font-weight: 300;
		font-family: "Roboto";
		text-transform: uppercase;
		margin-top: 5px;
		line-height: 35px;
	}

	ol {
		padding-bottom: 40px;
		counter-reset: item;
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	li {
		color: white;
		font-weight: 300;
		margin-bottom: 20px;
		text-transform: none;
		display: block;

		&:before {
			content: counter(item) " ";
			counter-increment: item;
			color: orange;
			margin-right: 10px;
			margin-left: 10px;
		}
	}

	li a {
		text-decoration: none;
		color: white;
	}
}

footer {
	font-family: "Roboto";
	margin-top: 30px;
	text-align: right;
	margin-right: 2vw;
	margin-bottom: 4vw;

	a {
		text-decoration: none;
		color: gray;

		&:hover {
			border-bottom: 1px solid gray;
		}
	}
}


@media only screen and (max-width: 768px) {
	.columns {
		flex-direction: column !important;
	}

	.columns section {
		margin: 2vw 2vw 0 2vw;
	}
}