// background color
$background: #002337;
// top navigator bar
$navbar: #002C45;
// cursor and timeline
$cursor: #F19000;
//background of the timeline 
$timelinebg: #D8D8D8;
//standfirst
$standfirst: #D8D8D8;
//sharing icons and header of Embed
$sharing: #7999AA;
//text of embed dialog
$dialogtext: #C2C5C7;
//color of questions 
$questionscolor: #D8D8D8;
