text {
	font-family: "Roboto";
	fill: #C2C5C7;
}

.scrubber {
	fill: #F19000;
}

.timeline-bg {
	fill: #D8D8D8;
}

.timeline-fg {
	fill: #F19000;
}

.left-arrow, .right-arrow {
	fill: #F19000;
	cursor: pointer;

	&:hover {
		fill: #EB7D08;
	}
}

.day-label {
	fill: black;
}